#navbar{
    @apply w-screen h-full; 
}

.container nav{
    @apply fixed bg-gray-600;
    width: 95%; margin:1% 2.5% ;
    @apply flex align-middle justify-between flex-wrap px-4;

    ul li{
        @apply inline-block list-none my-2 mx-4;
    }

    ul li a{
        @apply text-lg;
        @apply relative;
    }

    ul li a::after{
        content: '';
        @apply w-0 h-1;
        @apply bg-[#ff004f];
        @apply absolute left-0 -bottom-2 ;
        transition: 0.5s;
    }

    ul li a:hover::after{
        @apply w-full;
    }

    .logo{
        @apply w-40;
    }
}